@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

:root {
    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 0.1rem 1rem rgba(0, 0, 0.1);
    --border: .2rem solid rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    /* transition: all .6s linear; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #ccc9c9;
    /* padding: 25px; */
    background-color: white;
    color: black;
    /* font-size: 25px; */
}


.dark-mode {
    background-color: gray;
    color: white;
}

.header .dark {
    font-size: 2.5rem;
    padding: 0 .5rem;

}

.header .dark:hover {
    background-color: black;
    color: white;
    border-radius: .5rem;

}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 1rem 0;
    font-size: 3.5rem;
    color: black;
}

.heading span {
    background-color: green;
    color: white;
    display: inline-flex;
    padding: .5rem 3rem;
    margin-bottom: 1rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    border: 1px solid black;
    margin-top: 1rem;
    font-size: 1.4rem;
    display: inline-block;
    text-align: center;
    justify-content: center;
    color: black;
    padding: .8rem 3rem;
    border-radius: .5rem;
    margin: 1rem 11rem;
}

.btn:hover {
    background-color: green;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 19%;
    background: white;
    box-shadow: var(--box-shadow);

}

.header .logo {
    font-size: 2.5rem;
    font-family: bolder;


}


.header .logo i {

    color: green;
    padding-left: 1rem;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: black;
}

.header .navbar a:hover {
    color: green;
}

.header .icons div {
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    color: black;
    font-size: 2rem;
    margin-right: .3rem;
    padding-right: .5rem;
    text-align: center;
    background-color: #eee;
    cursor: pointer;
    box-shadow: var(--box-shadow);


}

.icons div:hover {
    background-color: black;
    color: white;
}

#menu-btn {
    display: none;
}

.header .navbar.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form {
    border: 0px solid black;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30%;
    height: 4.5rem;
    background-color: white;
    border-radius: 64px;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    font-size: 1.6rem;
    text-transform: none;
    padding-left: 2rem;
    color: black;
}

.header .search-form label {
    padding-right: 2rem;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.header .search-form label:hover {
    color: green;
}

.header .shopping-cart {
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background-color: white;


}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    border: 0px solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 40%;
    right: 2rem;
    cursor: pointer;

}

.header .shopping-cart .box .fa-trash:hover {
    color: green;
}

.header .shopping-cart .box .content h3 {
    color: black;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: #604f4f;
    font-size: 1.2rem
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: black;
}

.header .shopping-cart .btn {
    /* display: block;
     */
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin: 1rem 2rem;
}

.header .login-form {
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3 {
    font-size: 2rem;
    color: black;
}

.header .login-form .box {
    border: 1px solid;
    margin: .7rem 0;
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    color: black;
    text-transform: none;
    width: 100%;
    box-shadow: var(--box-shadow);

}

.header .login-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: #604f4f;
}

.header .login-form p a {
    color: green;
    text-decoration: underline;
}

.header .login-form .btn {
    width: 60%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin-left: 4.5rem;
    box-shadow: var(--box-shadow);

}

.home {
    border: 1px solid;
    display: flex;
    justify-content: center;
    background: url(../image/banner-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 10rem;
    margin: 0 1rem;
    border-radius: .5rem;

}

.home .content {
    border: 0px solid black;
    text-align: center;
    justify-content: center;
    width: 90rem;
    margin-left: 7%;
}

.home .content h3 {
    color: black;
    font-size: 3rem;
}

.home .content h3 span {
    color: green;

}

.home .content p {
    color: rgb(76, 70, 70);
    font-size: 1.5rem;
    padding: 2rem 0;
}


.home .content .btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;


}

.features .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: .7rem;

}

.features .box-container .box {
    border: 1px solid;
    padding: 3rem 2rem;
    background-color: white;
    outline: rgb(9, 11, 9);
    outline-offset: -.5rem;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0.1);
    border-radius: 1rem;
}

.features .box-container .box:hover {
    box-shadow: 2px 2px 10px 4px green;
}

.features .box-container .box img {
    margin: 1rem 5rem;
    height: 15rem;
}

.features .box-container .box h3 {
    font-size: 2.5rem;
    text-align: center;
}

.features .box-container .box p {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(76, 70, 70);
}

.features .box-container .box .btn {
    display: flex;
    text-align: center;

}


.Products .product-slider {
    border: 0px solid;
    padding: 1rem;
}

.Products .product-slider:first-child {
    margin-bottom: 2rem;
}

.Products .product-slider .box {
    border: 0px solid red;
    background-color: white;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: green;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0.1);
    transition: .2s linear;

}

.Products .product-slider .box:hover {
    box-shadow: 2px 2px 10px 4px green;

}

.Products .product-slider .box img {
    height: 20rem;
}

.Products .product-slider .box h1 {
    font-size: 2.5rem;
    color: black;
}

.Products .product-slider .box .price {
    font-size: 1.7rem;
    color: rgb(76, 70, 70);
    padding: .5rem 0;
}

.Products .product-slider .box .stars i {
    font-size: 1.7rem;
    color: rgb(76, 70, 70);
    padding: .2rem 0;
    color: orangered;
}

.Products .product-slider .box .btn {
    margin-left: 10rem;

}

.categories .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: .7rem;

}

.categories .box-container .box {
    padding: 3rem 0;
    background-color: white;
    border-radius: .5rem;
    outline-offset: -1rem;
    outline: green;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0.1);
    transition: .2s linear;
    text-align: center;

}

.categories .box-container .box:hover {
    box-shadow: 2px 2px 10px 4px green;

}

.categories .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3 {
    font-size: 2rem;
    color: black;
    padding-bottom: .5rem;
}


.categories .box-container .box p {
    font-size: 1.5rem;
}

.categories .box-container .box .btn {
    text-align: center;
    justify-content: center;
    /* padding: .5rem 3rem;
    margin: .5rem 3rem; */
    /* padding-left: 2rem; */
    margin-left: 8rem;
    width: 50%;

}



.review .review-slider {
    border: 1px solid;
    padding: 1rem;
}

.review .review-slider .box {
    border: 0px solid red;
    background-color: white;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: green;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0.1);
    transition: .2s linear;
}

.review .review-slider .box:hover {
    box-shadow: 2px 2px 10px 4px green;

}

.review .review-slider .box img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.review .review-slider .box p {
    padding: 1rem 0;
    color: rgb(76, 70, 70);
    font-size: 1.5rem;
}

.review .review-slider .box h3 {
    padding: .5rem;
    color: black;
    font-size: 2rem;
}

.review .review-slider .box .stars i {
    color: orange;
    font-size: 1.5rem;
}

.blog .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: .7rem;

}

.blog .box-container .box {
    overflow: hidden;
    border-radius: .5rem;
    --box-shadow: 0 0.1rem 1rem rgba(0, 0, 0.1);
    background-color: white;

}

.blog .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blog .box-container .box .content {
    padding: 2rem;
}

.blog .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blog .box-container .box .content .icons a {
    color: rgb(76, 70, 70);
    font-size: 1.5rem;
}

.blog .box-container .box .content .icons a i {
    color: green;
    padding-right: .5rem;
}

.blog .box-container .box .content .icons a:hover {
    color: black;
}

.blog .box-container .box .content h3 {
    font-size: 1.7rem;
    line-height: 1;
    color: black;
    padding: .5rem 0;
}

.blog .box-container .box .content p {
    line-height: 1.8;
    color: rgb(76, 70, 70);
    font-size: 1.5rem;
    padding: .5rem 0;
}

.footer {
    background-color: white;
    margin: 1.2rem 1rem;

}

.footer .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: .7rem;
}

.footer .box-container .box h3 {
    font-size: 2rem;
    color: black;
    padding: 1rem 0;
}

.footer .box-container .box h3 i {
    color: green;
}

.footer .box-container .box p {
    font-size: 1.2rem;
    color: rgb(76, 70, 70);
    padding-bottom: .5rem;
}

.footer .box-container .box a {
    display: flex;
    flex-direction: row;
    color: green;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box a i {
    padding-right: 1rem;
    font-size: 1rem;
}

.footer .box-container .box .share a {
    display: inline-flex;
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    margin-top: 5rem;
    text-align: center;
    padding: 1rem 1rem;
    margin-left: 2rem;
    color: black;
    background-color: rgb(170, 169, 169);
    border-radius: .5rem;
}

.footer .box-container .box .share a:hover {
    color: white;
    background-color: green;
}

.footer .box-container .box .email {
    width: 100%;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0.1);
    border-radius: .5rem;
    background-color: #eee;
    margin: .7rem 0;
    padding: 1rem;
    color: black;
    font-size: 1.1rem;
    text-transform: none;

}

.footer .box-container .box .email .payment-img {
    margin-top: 2rem;
    height: 3rem;
}

.footer .box-container .box .payment-img {
    margin: 1rem 3rem;
    width: 90%;
}

.footer .credit {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    color: black;
    border-top: var(--border);
}

.footer .credit span {
    color: green;
    font-weight: bolder;
}

@media (max-width : 1300px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 80%;
    }

    .header {
        display: flex;
        justify-content: space-around;

    }

    .header .icons {
        margin-left: 11rem;

    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 25rem;
        box-shadow: var(--box-shadow);
        border-radius: 1rem;
        background-color: white;

    }

    .header .navbar a {
        font-size: 2rem;
        display: flex;

        margin: 2rem 3.5rem;
    }




}

@media (max-width : 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .footer {
        margin: 1rem;

    }

    .footer .share {
        text-align: center;
    }

    .footer .box-container .box i {

        text-align: center;

    }

    .footer h3 {
        text-align: center;

    }

    /* .btn {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 30%;
    } */

    .categories .btn {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

}